mixin Cta 
  section
    .container 
      +Background({image: `${CWD}assets/img/gallery/cta-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover',} }, className: 'rounded-2 z-index--1' })
      .row.justify-content-center.p-7
        .col-12.col-lg-6.text-lg-start
          h1.fw-bold.mb-3.fs-6 All-in-one platform for business
          p.pe-xxl-9 Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus. 
        .col-12.col-lg-6.text-lg-end    
          a.btn.btn-primary(href='#')  Get In Touch
            
        
