mixin Cta 
  section
    .container 
      +Background({image: `${CWD}assets/img/gallery/cta-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover',} }, className: 'rounded-2 z-index--1' })
      .row.justify-content-center.p-6.p-xxl-7
        .col-12.col-lg-6.text-lg-start
          h1.fw-bold.mb-3.fs-4 All-in-one platform for business
          p.pe-xxl-9  All-in-one marketing platforms offer all the insights and recommendations that you need to grow online sales, bookings, or mailing list sign-ups in one package.
        .col-12.col-lg-6.text-lg-end    
          a.btn.btn-primary(href='#!')  Get In Touch
            
        
