append variables
  -
    var requirements = [
      {
        imageOne:'requirments-1.png',
        imageTwo:'requirments-2.png',
        order: 'order-1 order-md-0',
        title:'Requirements gathering<br>and analysis for references.',
        text:'The process of gathering requirements is no picnic. Facing challenges and dealing with flaws is part and parcel of the job.We’ve got some handy tips you can follow to make your web analytics project run smoother'
      },
    ]
mixin Requirements
  +Section.z-index-2(style="margin-bottom:-545px;")
    +InfoText(requirements[0])